$white: #ffffff;
$black: #000;
$redAlert: #ed2552;
$warning: #ffc85c;
$grayLight: #d8d8d8;
$greenOk: #01DF3A;
$purple: #623f99;
$blue: #0489B1;
$backgroundLight: #fafafa;
$lineBorder: #e1e2e6;
$grayParagraph: #2b2f33;
$blackTitle: #48535b;
