// fonts
$font-size-h1: 46;
$font-size-h2: 36;
$font-size-h3: 24;
$font-size-h4: 22;
$font-size-h5: 20;
$font-size-h6: 18;

$font-size-larger: $font-size-h6;
$font-size-large: 16;
$font-size-base: 14;
$font-size-small: 12;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$line-height-base: 1.4;
$font-size-root: 16;